body{
    height: 8888px;
}
*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*哈士奇论坛头*/
.luntanhead{
    height: 60px;
    background-color: #fff;
    position: relative;
    -webkit-box-shadow: 2px 0 2px #ccc;
    -moz-box-shadow: 2px 0 2px #ccc;
    box-shadow: 2px 0 2px #ccc;
    margin-top: 10px;
}
.luntanhead ul li{
    width: 100px;
    height: 57px;
    line-height: 60px;
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.luntanhead ul li:first-child{
    border-bottom: 3px solid #f2473d;
}
.luntanhead button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #f2473d;
    border: none;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    cursor: pointer;
}
.luntanhead .fatiebtn{
    right: 110px;
    top: 15px;
}
.luntanhead .tiwenbtn{
    right: 15px;
    top: 15px;
}
.luntanhead button:hover{
    background-color: #e3473d;
}
.luntanbody{
    width: 680px;
    background-color: #fff;
    margin-top: 10px;
    -webkit-box-shadow: 2px 0 2px #ccc;
    -moz-box-shadow: 2px 0 2px #ccc;
    box-shadow: 2px 0 2px #ccc;
}
/*头*/
header{
    height: 20px;
    padding: 10px 0 10px 0;
    background-color: #f2473d;
    border-bottom: 1px solid #ccc;
}
.logo {
    width: 150px;
    height: 60px;
    float: left;
    background: url("../images/logo.png") no-repeat;
    margin-left: 20px;
    margin-top: 10px;
}
.nav{
    float: right;
    height: 20px;
}
.nav ul li{
    width: 50px;
    height: 20px;
    text-align: center;
    float: left;
    position: relative;
    margin: 0 15px 0 15px;
    line-height: 20px;
}
.bd2{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 7px;
}
.nav .lastli{
    margin-right: 50px;
}
.nav ul li:hover{
    border-bottom: 3px solid #ffffff;
    padding-bottom: 7px;
}
.nav a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.zhuce,.land,address{
    float: right;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}
.zhuce{
    margin-right: 20px;
    border-left: 1px solid #ffffff;
    padding-left: 50px;
}
.land{
    margin-right: 150px;
}
header address{
    height: 20px;
    line-height: 20px;
    padding-left: 50px;
    font-style: normal;
    cursor: pointer;
    font-size: 13px;
}
.hd{
    overflow: hidden;
}
header address ul li{
    padding-top: 5px;
    height: 25px;
    line-height: 25px;
}
header address ul li:hover{
    text-decoration: underline;
}

/*帖子开始*/
.tiezibox{
    width: 680px;
}
.tiezi{
    position: relative;
    border-bottom: 1px solid #ccc;
    margin: 0 15px 0 15px;
    padding: 10px 0 30px 0;
}
.tiezibox:hover{
    background-color: rgb(246,246,246);
}
.tiezi .touxiang{
    float: left;
}
.tiezi .touxiang img{
    width: 50px;
    height: 50px;
}
.tiezi span{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}
.tiezi a h1{
    font-size: 14px;
    color: #f2473d;
    font-weight: 400;
    display: inline;
    margin-left: 10px;
}
.tiezi a h1:hover{
    text-decoration: underline;
}
.tiezi time{
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}
.tiezi p{
    width: 400px;
    margin: 10px 0 0 60px;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tiezi .tupian{
    width: 500px;
    height: 120px;
    overflow: hidden;
    margin-left: 60px;
}
.tiezi .tupian img{
    width: auto;
    height: 120px;
    float: left;
    margin: 10px 5px 0 0;
    cursor: pointer;
}
.tiezi footer{
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 12px;
    color: #999;
}
.tiezi footer span{
    font-size: 12px;
    color: #999;
}
.tiezi footer a{
    color: #999;
    margin-left: 30px;
}
.tiezi footer a:hover{
    text-decoration: underline;
}
.tiezi .unlook{
    position: absolute;
    width: 50px;
    bottom: 15px;
    right: 25px;
    font-size: 12px;
    color: #999;
} 
/*查看全文后*/
.zan{
    width: 670px;
    font-size: 12px;
    color: #999;
    margin-left: 50px;
    position: relative;
    top: 24px;
    display: none;
}
.zan ul{
    width: 670px;
    height: 30px;
}
.zan ul li{
    float: left;
    width: 120px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    padding-left: 20px;
    cursor: pointer;
}
.zan ul li:nth-child(1){
    background: url(../images/shoucang.png) no-repeat center left;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
}
.zan ul li:nth-child(2){
    background: url(../images/fenxiang.png) no-repeat center left;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
}
.zan ul li:nth-child(3){
    background: url(../images/zan.png) no-repeat center left;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
}
.zan ul li:nth-child(4){
    background: url(../images/pinglun.png) no-repeat center left;
    -webkit-background-size: 12px 12px;
    background-size: 12px 12px;
}
.zan ul li:hover{
    text-decoration: underline;
}
.tiezi .zan span{
    font-size: 12px;
    color: #999;
}
/*右部分*/
.luntan-r{
    width: 310px;
    float: right;
    -webkit-box-shadow: 2px 0 2px #ccc;
    -moz-box-shadow: 2px 0 2px #ccc;
    box-shadow: 2px 0 2px #ccc;
    margin-top: 10px;
}
.biaozhi{
    width: 310px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.biaozhi p{
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}
.biaozhi  img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.biaozhi h2{
    font-weight: 600;
    font-size: 16px;
}
.biaozhi section{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.biaozhi section span{
    color: #f2473d;
}
.biaozhi button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 0;
    background-color: #f2473d;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.biaozhi button:hover{
    background-color: #e3473d;
}

/*广告*/
.rank{
    width: 310px;
    height: 330px;
    background-color: #fff;
}
.rank h3{
    padding:10px 0 0 10px;
    font-size: 16px;
    font-weight: 400;

}
.rank ol{
    list-style: none;

}
.rank ol li{
    width: 310px;
    height: 30px;
}
.rank ol li em{
    float: left;
    font-style:normal;text-decoration:none;
    margin: 10px 0 0 10px;
    font-size: 12px;
    color: #999;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}
.rank ol li .top{
    color: #ffffff;
    width: 16px;
    height: 16px;
    background-color: #f2473d;
    text-align: center;
    line-height: 16px;
}
.rank ol li a{
    width: 220px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rank ol li a,.rank ol li span{
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0 0 10px;
    color: #999;
}
.rank ol li span{
    margin-right: 10px;
    float: right;
}


/*发帖*/
.write{
    background-color: rgb(248,248,248);
    padding-top: 10px;
    position: relative;
}
.write h3{
    font-weight: 600;
    font-size: 16px;
    margin: 10px 0 0 20px;
}
.write input[type="text"]{
    width: 600px;
    height: 30px;
    margin: 15px 0 0 20px;
    display: block;
}

.write textarea{
    width: 600px;
    height: 200px;
    margin: 15px 0 0 20px;
    padding: 4px;
    line-height: 16px;
    font-size: 13px;
    display: block;
}
.write input[type="button"]{
    border: 0;
    width: 80px;
    height: 30px;
    background-color: #f2473d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    margin: 15px 0 0 20px;
    cursor: pointer;
    outline: none;
}
.write a{
    font-size: 12px;
    color: #999;
    padding-left: 20px;
}
.write a:hover{
    text-decoration: underline;
    color: #f2473d;
}
.write .img{
    width: 860px;
    margin:15px 0 0 20px;
    overflow: hidden;
}
.write .imgbox{
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
}
.write .img img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.write .imgbox span{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.2);
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.write .imgbox span:hover{
    background-color: rgba(0,0,0,.4);
}

/*预览图片*/
.yulan{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.yulan img{
    width: auto;
    height: 500px;
    position: fixed;
    left:50%;top:50%;
    transform:translateX(-50%) translateY(-50%);
}


i,b{
    position: absolute;
}
b{
    width: 18px;
    height: 40px;
    top: -10px;
    right: 0;
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}
i{
    width: 18px;
    height: 20px;
    font-style: normal;
    top: 19px;
    right: 130px;
    overflow: hidden;
    font-weight: 400;
}