<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="cn.liulangzhe.mapper.UserMapper">
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="cn.liulangzhe.pojo.User">
		<selectKey keyProperty="userid" resultType="Integer" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into user(userid,username,password,email,phone)
		values (#{userid},#{username},#{password},#{email},#{phone})
	</insert>
	
	<!-- 用户登陆(username和password) -->
	<select id="login" parameterType="map" resultType="cn.liulangzhe.pojo.User">
		select * from user where (username=#{username} or email=#{username} or phone=#{username}) and password=#{password}
	</select>
	
	<!-- 通过userid查找用户(userid) -->
	<select id="FindById" resultType="cn.liulangzhe.pojo.User">
		select userid,username,email,phone,userphoto from user where userid=#{userid}
	</select>
	
	<!-- 修改用户信息 -->
	<update id="edituserinformation" parameterType="cn.liulangzhe.pojo.User" >
		update user set username=#{username},password=#{password}
			,email=#{email},phone=#{phone} where userid=#{userid}
	</update>
	
	<!-- 查找好友 -->
	<select id="SearchFriend" parameterType="Integer"
		resultType="cn.liulangzhe.pojo.User">
		select userid,username,email,phone,userphoto from user 
			where userid in (select friend_id from friend where user_id=#{userid})
	</select>
</mapper>